.chat-box{
    color: black;
    position: fixed;
    /* margin: 10% 10% auto 80%; */
}

#btn{
    font-size: 50px;
    position: fixed;
    margin: 40% 10% auto 90%;
}

.chatbot{
    position: fixed;
    margin: 6% 2% auto 80%; 
}

.chat{
    margin: 10% 10% auto 80%;
    position: fixed;
    border: 2px solid black !important;
}

i{
    margin: 15px;
}

button{
    border-style: none;
}

.option-button{
    color: black;
    background-color: #ccb0fa;
    padding: 8px;
    margin: 2px;
    border-style: none;
}

.link{
    color: black;
    background-color: #b8afce;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
}